body{
	background:#997A5C;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

.woodBG{
	background:url(../img/wood.jpg);
	border-radius:3px;
	padding:10px;
	color:#fff;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.card{
	background:url(../img/paper.jpg);
	border-radius:0px 0px 3px 3px;
	margin:10px;
	margin-top:0px;
	color:#1A1A1A;
	font-size: 90px;
	text-align: center;
}

.selection-card{
	background:url(../img/paper.jpg);
	border-radius:0px 0px 3px 3px;
	margin:5px;
	margin-top:0px;
	color:#1A1A1A;
	font-size: 90px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	margin:15px;
	opacity:0.6;
}



.selection-card.selected, .selection-card:hover{	
	-webkit-box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
	opacity:1;
	cursor: pointer;
}

.playerRow{
	min-height: 200px;	
}

.barChart{
	background:#1A1A1A;	
	border:2px solid #000;
	height: 50px;
	width: 100%;
}

.barChartCol{
	padding:20px;
	padding-left: 0px;
	border-left: 3px solid #fff;
}

.titleText{
	font-size: 70px;
	font-style:italic;
	text-align: center;
}

.join-holder{
	text-align:center;
	font-size: 16px;
}

.join-holder input[type=text]{
	border-radius:5px;
	padding:10px;
	border:2px solid #331A00;
}

.join-holder input[type=button], .submit-button{
	border-radius:5px;
	padding:10px;
	background:#331A00;
	color:#fff;
	border:0px;
}

.join-holder input[type=button]:disabled, .submit-button:disabled{
	background:#705F4D;
}

.submit-button{
	width:100%;
}